@import "../bourbon/bourbon";
@import "theme/variables";
@import "bootstrap";
@import "node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect";
@import "theme/bootswatch";

.multiselect-container > li > a > label > input[type=checkbox] { margin-bottom: -5px; }
.active input[type="radio"]:checked {
  &:before { background-color: #fff; }
  &:after { border-color: #fff; }
}
.form-group { margin-bottom: 22px; }

.container-fluid {
  max-width: 1500px;
}

body {
  padding-top: 80px;
}

.mt-5 {
  margin-top: -5px;
}

.ml-20 {
  margin-left: 20px!important;
}

.mr-20 {
  margin-right: 20px!important
}

.fs20 {
  font-size: 20px;
}

.btn-invisible {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: $brand-primary;
  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.page-organizations {
  .form-group {
    margin: 0 20px 20px 0;
  }

  .option-btn {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    &:hover { color: $brand-primary; }
  }

  table {
    td {
      line-height: 15px!important;
    }
  }
}

#preloader {
  background-color: rgba(#000, .6);
  z-index: 2000;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  @include align-items(center);
  @include justify-content(center);
}

body.preloader {
  #preloader {
    @include display(flex);
  }
}

.page-workers {
  .error-sym {
    background-color: red;
    color: white;
  }

  .warning-sym {
    background-color: orange;
    color: white;
  }

  .alert {
    margin-bottom: 0;
    padding: 0 15px;
  }

  .organization, .file {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid $gray-light;
  }

  .done {
    margin-top: 15px;
    display: none;
  }
}


.tt-dataset {
  display: block!important;
}

.tt-suggestion {
  border-bottom: 1px solid $dropdown-border;
  padding: 10px 5px;
  font-size: 12px;
  min-width: 300px;
  cursor: pointer;
  &:hover {
    background-color: $brand-primary;
    color: #fff;
  }
}

.page-workers {
  .workers-list {
    .worker, .department-name {
      cursor: pointer;
      &:hover {
        color: $brand-primary;
      }
    }
    ul {
      margin-bottom: 15px;
    }

    .department {
      list-style: none;
      span {
        font-weight: bold;
      }
    }
  }
}

.page-organizations {
  .show-department-btn, .show-all-departments {
    cursor: pointer;
    border-bottom: 1px dashed $text-color;
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
  }

  .department {
    display: none;
    background-color: darken(#fff, 3%);
    &:last-child .relation {
      &:before, &:after {
        bottom: auto;
        height: 16px;
      }
    }
  }
}

.page-fio-translate {
  .btn { margin: 30px 0; }
}