@import "theme/variables";
@import "bootstrap";
@import "node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect";
@import "theme/bootswatch";

.multiselect-container > li > a > label > input[type=checkbox] { margin-bottom: -5px; }
.active input[type="radio"]:checked {
  &:before { background-color: #fff; }
  &:after { border-color: #fff; }
}
.form-group { margin-bottom: 22px; }


body {
  padding-top: 80px;
}

.mt-5 {
  margin-top: -5px;
}

.fs20 {
  font-size: 20px;
}