.home-page {
  .search-block {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    height: 350px;
    background-size: cover;
    background: url('http://stophab.org/img/background.jpg') no-repeat center center;

    .container {
    }
    h1 {
      font-size: 32px;
      margin-top: 0;
    }
    form {
      margin-top: 30px;
    }
    .stat-text {
      margin-top: 10px;
    }
  }

  .donate-block {
    margin-top: 50px;
    border: 1px solid rgba(#000, .02);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;

    p {
      line-height: 1.5;
    }

    .btn {
      margin-top: 25px;
    }

    .author {
      @include display(flex);
      margin-bottom: 10px;
      .info {
        margin-left: 15px;
        line-height: 1;

        .name {
          margin-top: 2px;
          font-size: 1.13rem;
          color: #000;
        }
        .position {
          margin-top: 7px;
          color: $gray;
          font-style: italic;
          font-size: .88rem;
        }
      }
    }
  }

  .news-block {
    margin-top: 50px;
    h3 {
      margin-top: 0;
    }

    .more {
      margin-top: -15px;
    }

    .news {
      margin-bottom: 30px;
      .date {
        font-size: .85rem;
      }
      .title {
        font-size: 1.15rem;
      }
      p {
        font-size: .95rem;
        line-height: 1.5;
      }
    }
  }
}