.organization-page {
  h1 {
    font-size: 2.1rem;
    margin-bottom: 0;
  }

  h3 {
    small {
      font-size: .9rem;
      position: relative;
      top: -5px;
    }
  }

  .worker-list {
    line-height: 1.5;

    .department-name {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 25px;
    }

    .subdepartment-name {
      margin-top: 3px;
    }

    .worker {
      i {
        position: absolute;
        margin-left: -17px;
        margin-top: 4px;
      }
    }
  }
}