@import "../bourbon/bourbon";
@import "theme/variables";
@import "bootstrap";
@import "home";
@import "search_form";
@import "donate_block";
@import "worker";
@import "organization";

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 400px;
}

.sprite {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-image: url(http://stophab.org/img/sprite.png);
  background-repeat: none;

  &.logo {
    width: 92px;
    height: 133px;
  }

  &.facebook {
    height: 28px;
    width: 28px;
    background-position: -92px -37px;
  }

  &.vk {
    height: 28px;
    width: 28px;
    background-position: -120px -37px;
  }

  &.brel {
    height: 37px;
    width: 37px;
    background-position: -92px 0;
  }

  &.tile {
    width: 52px;
    height: 52px;
  }

  &.organization {
    background-position: -200px -104px;
  }

  &.workers {
    background-position: -200px 0;
  }

  &.worker {
    background-position: -148px 0;
  }

  &.news {
    background-position: -199px -52px;
  }

  &.money {
    background-position: -252px -104px;
  }

  &.realty {
    background-position: -148px -104px;
  }

  &.cars {
    background-position: -304px -52px;
  }

  &.law {
    background-position: -148px -52px;
  }

  &.business {
    background-position: -252px -52px;
  }
}

.info-block {
  @include display(flex);
  margin-top: 30px;

  .icon {
    @include flex-shrink(0);
    width: 65px;
  }

  h5 {
    margin-top: 0;
  }
}

.g-head {
  background-color: $brand-primary;
  position: relative;
  .social-links {
  }
  .container {
    @include display(flex);
    @include align-items(center);
    color: #fff;
    height: 150px;

    .info {
      @include flex-grow(1);
      line-height: 1;
      margin-left: 40px;
      .title { font-size: 80px; }
      p {
        font-size: 17px;
        margin: 5px 0 0 10px;
      }
    }
  }
}

footer {
  width: 100%;
  height: 350px;
  bottom: 0;
  position: absolute;
  text-align: center;
  background-color: #3a424c;
  color: rgba(#fff, .5);
  font-size: .95rem;
  .social-links {
    margin: 30px 0 15px 0;
  }
  .info a {
    color: #fff;
    text-decoration: underline;
  }
  .logo-icon {
    margin: 25px 0;
  }
}